table {
    width: 90%;
}
  
  th {
    text-align: center
  }
  th {
    background-color: #757BD9;
    color: white;
  }
  #rut{
    width: 15%;
  }
  #correo{
    width: 20%;
  }
  td{
      height: 50px;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
